In [1]:
#Import dependancies
import pandas as pd
import numpy as np

In [2]:
#Read data from batting.csv
data = pd.read_csv('batting.csv')

In [3]:
data.describe()

,yearID,wins_over_losses,runs_over_league_avg,BA,SLG,OBP,OPS
count,1606.000000,1606.000000,1606.000000,1606.000000,1606.000000,1606.000000,1606.000000
mean,1986.525529,1.043537,1.000000,0.258824,0.396201,0.325017,0.721218
std,18.036523,0.306653,0.101453,0.012781,0.032434,0.015217,0.045161
min,1951.000000,0.333300,0.708600,0.214100,0.290300,0.273273,0.578639
25%,1972.000000,0.820200,0.930150,0.250225,0.375000,0.315103,0.691781
50%,1988.000000,1.000000,0.995800,0.259300,0.395450,0.324685,0.720475
75%,2002.000000,1.232650,1.067950,0.267275,0.418175,0.335559,0.750238
max,2015.000000,2.581400,1.337300,0.294000,0.490900,0.373118,0.850568

In [7]:
data.corr()

,yearID,wins_over_losses,runs_over_league_avg,BA,SLG,OBP,OPS
yearID,1.000000,-0.021237,0.000000,0.220802,0.414657,0.198165,0.364578
wins_over_losses,-0.021237,1.000000,0.648352,0.404386,0.408462,0.480892,0.455373
runs_over_league_avg,0.000000,0.648352,1.000000,0.642867,0.651224,0.684215,0.698196
BA,0.220802,0.404386,0.642867,1.000000,0.785576,0.851610,0.851082
SLG,0.414657,0.408462,0.651224,0.785576,1.000000,0.766080,0.976273
OBP,0.198165,0.480892,0.684215,0.851610,0.766080,1.000000,0.887084
OPS,0.364578,0.455373,0.698196,0.851082,0.976273,0.887084,1.000000

In [14]:
#Add some additional variations
data['BA*SLG']=data['BA']*data['SLG']
data['OBP*SLG']=data['OBP']*data['SLG']
data.head()

,yearID,name,wins_over_losses,runs_over_league_avg,BA,SLG,OBP,OPS,BA*SLG,OBP*SLG
0,1951,Boston Red Sox,1.2985,1.1416,0.2655,0.3916,0.356048,0.747644,0.103970,0.139428
1,1951,Brooklyn Dodgers,1.6167,1.2141,0.2751,0.4345,0.346842,0.781292,0.119531,0.150703
2,1951,Boston Braves,0.9744,1.0266,0.2617,0.3935,0.332878,0.726417,0.102979,0.130988
3,1951,Chicago White Sox,1.1096,1.0138,0.2702,0.3845,0.342986,0.727516,0.103892,0.131878
4,1951,Chicago Cubs,0.6739,0.8718,0.2500,0.3637,0.311895,0.675566,0.090925,0.113436

In [15]:
data.corr()

,yearID,wins_over_losses,runs_over_league_avg,BA,SLG,OBP,OPS,BA*SLG,OBP*SLG
yearID,1.000000,-0.021237,0.000000,0.220802,0.414657,0.198165,0.364578,0.358663,0.354830
wins_over_losses,-0.021237,1.000000,0.648352,0.404386,0.408462,0.480892,0.455373,0.428655,0.460677
runs_over_league_avg,0.000000,0.648352,1.000000,0.642867,0.651224,0.684215,0.698196,0.683865,0.701938
BA,0.220802,0.404386,0.642867,1.000000,0.785576,0.851610,0.851082,0.911466,0.854716
SLG,0.414657,0.408462,0.651224,0.785576,1.000000,0.766080,0.976273,0.969243,0.968402
OBP,0.198165,0.480892,0.684215,0.851610,0.766080,1.000000,0.887084,0.840679,0.900059
OPS,0.364578,0.455373,0.698196,0.851082,0.976273,0.887084,1.000000,0.979312,0.998717
BA*SLG,0.358663,0.428655,0.683865,0.911466,0.969243,0.840679,0.979312,1.000000,0.977088
OBP*SLG,0.354830,0.460677,0.701938,0.854716,0.968402,0.900059,0.998717,0.977088,1.000000